.phim-danh-muc{
    background-color: var(--body-color, rgb(5, 1, 22));
    color: var(--body-text-color, #fff);

    .list{
        padding: 30px 100px;
    }
}

@media screen and (max-width: 768px){
    .phim-danh-muc{
        .list{
            padding: 30px 20px;
        }
    }
}