.phim{
    background-color: var(--body-color, rgb(5, 1, 22));
    color: var(--body-text-color, #fff);
    padding: 30px 130px;
}

@media (max-width: 950px) {
    .phim{
        padding: 30px 20px;
    }
}