.home-page{
    background-color: transparent;
    color: var(--body-text-color, #fff);

    .list{
        padding: 30px 130px;
    }
}

@media screen and (max-width: 768px){
    .home-page{
        .list{
            padding: 30px 20px;
        }
    }
}