.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color, #0d0731f3);
    padding: 0 90px;
    width: 100%;
    color: var(--header-text-color, #fff);
    font-family: var(--main-font, Arial, sans-serif);
    position: fixed;
    top: 0;
    z-index: 100;

    .header-logo {
        font-size: 1.5rem;
        color: var(--header-text-color, #fff);

        img {
            width: 64px;
        }
    }

    .header-search {
        margin: 0 1rem;
        position: relative;

        .search-input {
            width: 100%;
            padding: 4px;
            border: none;
            outline: none;
            border-radius: 4px;
            font-size: 1rem;
            color: var(--header-text-color, #000);
            background: #c0bebe;
        }

        .search_result {
            width: 300px;
            height: fit-content;
            max-height: 500px;
            background: var(--header-search-color, #05042c);
            border-radius: 5px;
            z-index: 999;
            position: absolute;
            top: 40px;
            left: -55px;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

    }

    .header-menu {
        flex: 1;
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 1rem;
        margin-left: 120px;
        color: var(--header-text-color, #fff);

        .active {
            color: orange;
        }

        li {
            cursor: pointer;
            position: relative;
            color: var(--header-text-color, #fff);

            &:hover {
                color: orange;
            }

            .submenu {
                position: absolute;
                background-color: var(--header-search-color, #05042c);
                padding: 0.5rem;
                width: 390px;
                list-style: none;
                top: 30px;
                right: 0;
                border-radius: 10px;
                box-shadow: -1px 1px 9px 4px rgb(5, 5, 5);
                z-index: 999;

                div {
                    display: flex;
                    padding: 0.5rem;
                    color: var(--header-text-color, #fff);
                    gap: 10px;

                    li {
                        font-size: 14px;
                    }

                    .active_sub {
                        color: #c3d332;
                    }
                }
            }
        }
    }

    .menu-toggle {
        display: none;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: var(--header-text-color, #fff);
        cursor: pointer;
        margin-top: 4px;
    }

    .header-menu-small {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: var(--header-search-color, #05042c);
        padding: 10px 20px;
        width: 250px;
        color: var(--header-text-color, #b8b5b5);
        border-radius: 15px;
        box-shadow: -3px 0px 6px #000;
        z-index: 9999;

        .active {
            color: orange;
        }

        li {
            list-style-type: none;
            text-decoration: none;
            cursor: pointer;
            color: var(--header-text-color, #b8b5b5);

            &:hover {
                color: #45d332
            }
        }

        .submenu-small {
            font-size: 14px;

            .sub {
                .active_sub {
                    color: #daa000;
                }
            }
        }

        .btnX {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 30px;
            background-color: transparent;
            color: var(--header-text-color, #fff);
            border: 0;
        }
    }

    .header-icons {
        visibility: hidden;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin:0px 10px;

        i {
            font-size: 22px;
            cursor: pointer;
        }
    }
}

@media (max-width: 950px) {
    .header {
        padding: 0 20px;

        .header-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #333;
            padding: 1rem;

            &.open {
                display: flex;
                position: absolute;
                top: 60px;
                right: 0;
                width: 230px;
            }
        }

        .menu-toggle {
            display: block;
        }

        .logo-name {
            display: none;
        }

        .header-icons {
            visibility: visible;
        }
    }
}

.sub li:hover {
    color: #c3d332 !important;
    cursor: pointer;
}

.setting-overlay {
    z-index: 20000000 !important;
}

